<footer class="footer">
  <div class="footer__logo-box">
    <%= tag.picture class: 'footer__logo' do %>
      <%= tag.source srcset: "#{image_path('logo-green-small-1x.png')} 1x, #{image_path('logo-green-small-2x.png')} 2x",
        media: '(max-width: 37.5em)' %>
      <%= image_tag 'logo-green-2x.png',
        srcset: { 'logo-green-1x.png' => '1x', 'logo-green-2x' => '2x' },
        alt: 'Full logo' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-1/2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item"><%= link_to 'Company', '#', class: 'footer__link' %></li>
          <li class="footer__item"><%= link_to 'Contact us', '#', class: 'footer__link' %></li>
          <li class="footer__item"><%= link_to 'Careers', '#', class: 'footer__link' %></li>
          <li class="footer__item"><%= link_to 'Privacy Policy', '#', class: 'footer__link' %></li>
          <li class="footer__item"><%= link_to 'Terms', '#', class: 'footer__link' %></li>
        </ul>
      </div>
    </div>
    <div class="col-1/2">
      <p class="footer__copyright">
        Built by <a href="#" class="footer__link">Brasco</a> for an online course <a class="footer__link" href="#">Advanced CSS and Sass</a>. Copyright &copy; by Jonas Schmedtmann. You are 100% allowed to use this webpage for both personal and commercial use, but not to claim it as your own design. A credit to the original author, Jonas Schmedtmann, is of course highly appreciated.
      </p>
    </div>
  </div>
</footer>
