<div class="navigation">
  <input class="navigation__checkbox" type="checkbox" id="nav-toggle">

  <label class="navigation__button" for="nav-toggle">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><%= link_to 'About Natours', '#', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Your benefits', '#', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Popular Tours', '#', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Stories', '#', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Book now', '#', class: 'navigation__link' %></li>
    </ul>
  </nav>
</div>
