<div class="navigation">
  <input class="navigation__checkbox" type="checkbox" id="nav-toggle">

  <label class="navigation__button" for="nav-toggle">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><%= link_to 'About Natours', '#section-about', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Your benefits', '#section-features', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Popular Tours', '#section-tours', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Stories', '#section-stories', class: 'navigation__link' %></li>
      <li class="navigation__item"><%= link_to 'Book now', '#section-book', class: 'navigation__link' %></li>
    </ul>
  </nav>
</div>
