<%= render 'navigation' %>
<%= render 'header' %>

<main>
  <%= render 'about' %>
  <%= render 'features' %>
  <%= render 'tours' %>
  <%= render 'stories' %>
  <%= render 'book' %>
</main>

<%= render 'footer' %>

<%= render 'popup' %>
